/*
For the body, set the foreground color value to #161616
For all anchor elements, set the foreground color value to #161616
All elements with the class visually-hidden should have their display to none
All elements with the class card-category, should have their foreground color set to #D73953
All elements with the class section-tagline should have their foreground color set to #D73953 
*/
html {
    scroll-behavior: smooth;
}
body {
    color: #161616;
}
a {
    color: #161616;
}
.visually-hidden {
    display: none;
}
.card-category {
    color: #D73953;
}
.section-tagline {
    color: #D73953;
}
